svg {

    padding-bottom: 10vh;
}

#cina .st0 {
    fill: none;
    stroke: #1B1D3B;
    stroke-miterlimit: 10;
}

#cina .st1 {
    fill: none;
    stroke: #1B1D3B;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#cina .st2 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
}

#cina .st3 {
    opacity: 0.15;
    fill: url(#SVGID_2_);
}

#cina .st4 {
    opacity: 0.15;
    fill: url(#SVGID_3_);
}

#cina .st5 {
    fill: none;
    stroke: #DCDBD4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#cina .st6 {
    fill: none;
    stroke: #2B4C99;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#cina .st7 {
    fill: none;
    stroke: #DCDBD4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#cina .st8 {
    opacity: 0.3;
    fill: none;
    stroke: #2B4C99;
    stroke-miterlimit: 10;
}

#cina .st9 {
    fill: none;
    stroke: #1B1D3B;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#cina .st10 {
    opacity: 0.15;
}

#cina .st11 {
    fill: none;
    stroke: #DCDBD4;
    stroke-miterlimit: 10;
}

#cina .st12 {
    fill: none;
    stroke: #DCDBD4;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#cina .st13 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#cina .st14 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#cina .st15 {
    fill: #726F76;
}

#cina .st16 {
    font-family: 'Sole24Sans-Book';
}

#cina .st17 {
    font-size: 13px;
}

#cina .st18 {
    fill: #0000FF;
}

#cina .st19 {
    font-size: 15px;
}

#cina .st20 {
    opacity: 0.15;
    fill: #FFFFFF;
}

#cina .st21 {
    fill: #DEDED6;
}

#cina .st22 {
    font-family: 'Sole24Sans-Semibold';
}

#cina .st23 {
    font-size: 18px;
}

#cina .st24 {
    font-family: 'Sole24SerifHeadline-Black';
}

#cina .st25 {
    font-size: 21px;
}

#cina .st26 {
    font-family: 'Sole24Sans-LightExtended';
}

#cina .st27 {
    font-size: 10px;
}

#cina .st28 {
    font-size: 9px;
}

#cina .st29 {
    opacity: 0.15;
    fill: url(#SVGID_4_);
}

#cina .st30 {
    opacity: 0.15;
    fill: url(#SVGID_5_);
}

#cina .st31 {
    opacity: 0.15;
    fill: url(#SVGID_6_);
}

#cina .st32 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#cina .st33 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#cina .st34 {
    fill: none;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    opacity: 0.15;
}

#cina .st35 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}


/*--------- italia ----------*/



#italia .st0 {
    opacity: 0.3;
    fill: none;
    stroke: #2B4C99;
    stroke-miterlimit: 10;
}

#italia .st1 {
    fill: none;
    stroke: #1B1D3B;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#italia .st2 {
    opacity: 0.15;
}

#italia .st3 {
    fill: none;
    stroke: #DCDBD4;
    stroke-miterlimit: 10;
}

#italia .st4 {
    fill: none;
    stroke: #2B4C99;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#italia .st5 {
    fill: none;
    stroke: #DCDBD4;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#italia .st6 {
    fill: none;
    stroke: #DCDBD4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#italia .st7 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#italia .st8 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#italia .st9 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
}

#italia .st10 {
    opacity: 0.15;
    fill: url(#SVGID_2_);
}

#italia .st11 {
    opacity: 0.15;
    fill: url(#SVGID_3_);
}

#italia .st12 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#italia .st13 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#italia .st14 {
    fill: none;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#italia .st15 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#italia .st16 {
    fill: #726F76;
}

#italia .st17 {
    font-family: 'Sole24Sans-Book';
}

#italia .st18 {
    font-size: 13px;
}

#italia .st19 {
    fill: #0000FF;
}

#italia .st20 {
    font-size: 15px;
}

#italia .st21 {
    opacity: 0.15;
    fill: #FFFFFF;
}

#italia .st22 {
    fill: #DEDED6;
}

#italia .st23 {
    font-family: 'Sole24Sans-Semibold';
}

#italia .st24 {
    font-size: 18px;
}

#italia .st25 {
    fill: #FFFFFF;
}

#italia .st26 {
    font-family: 'Sole24SerifHeadline-Black';
}

#italia .st27 {
    font-size: 21px;
}

#italia .st28 {
    font-family: 'Sole24Sans-LightExtended';
}

#italia .st29 {
    font-size: 10px;
}

#italia .st30 {
    font-size: 9px;
}

#italia .st31 {
    opacity: 0.15;
    fill: url(#SVGID_4_);
}

#italia .st32 {
    opacity: 0.15;
    fill: url(#SVGID_5_);
}

#italia .st33 {
    opacity: 0.15;
    fill: url(#SVGID_6_);
}

#italia .st34 {
    fill: none;
    stroke: #DEDED6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    opacity: 0.15;
}

/*------- fmc-mxp --------*/

#fmc-mpx .st0 {
    opacity: 0.3;
    fill: none;
    stroke: #0000FF;
    stroke-miterlimit: 10;
    enable-background: new;
}

#fmc-mpx .st1 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#fmc-mpx .st2 {
    fill: #DEDED6;
}

#fmc-mpx .st3 {
    font-family: 'Sole24Sans-Semibold';
}

#fmc-mpx .st4 {
    font-size: 13px;
}

#fmc-mpx .st5 {
    font-size: 18px;
}

#fmc-mpx .st6 {
    font-family: 'Sole24SerifHeadline-Black';
}

#fmc-mpx .st7 {
    font-size: 21px;
}

#fmc-mpx .st8 {
    fill: #726F76;
}

#fmc-mpx .st9 {
    font-family: 'Sole24Sans-Book';
}

#fmc-mpx .st10 {
    fill: #0000FF;
}

#fmc-mpx .st11 {
    font-size: 18.2681px;
}

#fmc-mpx .st12 {
    font-family: 'Sole24Sans-LightExtended';
}

#fmc-mpx .st13 {
    font-size: 10px;
}

#fmc-mpx .st15 {
    fill: none;
    stroke: #DEDED6;
    stroke-miterlimit: 10;
    opacity: 0.15;
}

#fmc-mpx .st14 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#fmc-mpx .st16 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#fmc-mpx .st17 {
    font-size: 9px;
}

/*_____ nazioni pandemia ______*/
#crollo .st0 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#crollo .st1 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#crollo .st2 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
}

#crollo .st3 {
    opacity: 0.15;
    fill: url(#SVGID_2_);
}

#crollo .st4 {
    opacity: 0.15;
    fill: url(#SVGID_3_);
}

#crollo .st5 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#crollo .st6 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#crollo .st7 {
    fill: none;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#crollo .st8 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#crollo .st9 {
    opacity: 0.15;
    fill: url(#SVGID_4_);
}

#crollo .st10 {
    opacity: 0.15;
    fill: url(#SVGID_5_);
}

.st11 {
    opacity: 0.15;
    fill: url(#SVGID_6_);
}

#crollo .st12 {
    fill: none;
    stroke: #DEDED6;
    opacity: 0.15;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#crollo .st13 {
    opacity: 0.3;
    fill: none;
    stroke: #0000FF;
    stroke-miterlimit: 10;
}

#crollo .st14 {
    fill: none;
    stroke: #0000FF;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

#crollo .st15 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#crollo .st16 {
    fill: #DEDED6;
}

#crollo .st17 {
    font-family: 'Sole24Sans-Semibold';
}

#crollo .st18 {
    font-size: 13px;
}

#crollo .st19 {
    fill: #726F76;
}

#crollo .st20 {
    font-family: 'Sole24Sans-Book';
}

#crollo .st21 {
    fill: #0000FF;
}

#crollo .st22 {
    font-size: 18.2681px;
}

#crollo .st23 {
    font-family: 'Sole24Sans-LightExtended';
}

#crollo .st24 {
    font-size: 10px;
}

#crollo .st25 {
    fill: none;
}

#crollo .st26 {
    font-family: 'Sole24SerifHeadline-Black';
}

#crollo .st27 {
    font-size: 21px;
}

#crollo .st28 {
    font-size: 18px;
}

#crollo .st29 {
    font-size: 9px;
}



/*---- mercato carburante -----*/


#carburante .st0 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#carburante .st1 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#carburante .st2 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
}

#carburante .st3 {
    opacity: 0.15;
    fill: url(#SVGID_2_);
}

#carburante .st4 {
    opacity: 0.15;
    fill: url(#SVGID_3_);
}

#carburante .st5 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#carburante .st6 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#carburante .st7 {
    fill: none;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#carburante .st8 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#carburante .st9 {
    opacity: 0.15;
    fill: url(#SVGID_4_);
}

#carburante .st10 {
    opacity: 0.15;
    fill: url(#SVGID_5_);
}

#carburante .st11 {
    opacity: 0.15;
    fill: url(#SVGID_6_);
}

#carburante .st12 {
    fill: none;
    stroke: #DEDED6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#carburante .st13 {
    opacity: 0.3;
    fill: none;
    stroke: #0000FF;
    stroke-miterlimit: 10;
}

#carburante .st14 {
    fill: none;
    stroke: #DEDED6;
    stroke-miterlimit: 10;
}

#carburante .st15 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#carburante .st16 {
    fill: #726F76;
}

#carburante .st17 {
    font-family: 'Sole24Sans-Book';
}

#carburante .st18 {
    font-size: 13px;
}

#carburante .st19 {
    fill: #DEDED6;
}

#carburante .st20 {
    font-family: 'Sole24Sans-Semibold';
}

#carburante .st21 {
    font-size: 18px;
}

#carburante .st22 {
    fill: #FFFFFF;
}

#carburante .st23 {
    font-family: 'Sole24SerifHeadline-Black';
}

#carburante .st24 {
    font-size: 21px;
}

#carburante .st25 {
    font-family: 'Sole24Sans-LightExtended';
}

#carburante .st26 {
    font-size: 10px;
}

#carburante .st27 {
    font-size: 9px;
}

/*------ inquinamento ..-------*/


#inquinamento .st0 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#inquinamento .st1 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#inquinamento .st2 {
    opacity: 0.15;
    fill: url(#SVGID_1_);
}

#inquinamento .st3 {
    opacity: 0.15;
    fill: url(#SVGID_2_);
}

#inquinamento .st4 {
    opacity: 0.15;
    fill: url(#SVGID_3_);
}

#inquinamento .st5 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#inquinamento .st6 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#inquinamento .st7 {
    fill: none;
    stroke: #DEDED6;
    opacity: 0.15;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#inquinamento .st8 {
    fill: none;
    stroke: #0000FF;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#inquinamento .st9 {
    opacity: 0.15;
    fill: url(#SVGID_4_);
}

#inquinamento .st10 {
    opacity: 0.15;
    fill: url(#SVGID_5_);
}

#inquinamento .st11 {
    opacity: 0.15;
    fill: url(#SVGID_6_);
}

#inquinamento .st12 {
    fill: none;
    stroke: #DEDED6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#inquinamento .st13 {
    opacity: 0.3;
    fill: none;
    stroke: #0000FF;
    stroke-miterlimit: 10;
}

#inquinamento .st14 {
    fill: none;
    stroke: #DEDED6;
    stroke-miterlimit: 10;
    opacity: 0.15;
}

#inquinamento .st15 {
    fill: none;
    stroke: #DEDED6;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#inquinamento .st16 {
    fill: #726F76;
}

#inquinamento .st17 {
    font-family: 'Sole24Sans-Book';
}

#inquinamento .st18 {
    font-size: 13px;
}

#inquinamento .st19 {
    fill: #0000FF;
}

#inquinamento .st20 {
    font-size: 15px;
}

#inquinamento .st21 {
    opacity: 0.15;
    fill: #DEDED6;
}

#inquinamento .st22 {
    fill: #DEDED6;
}

#inquinamento .st23 {
    font-family: 'Sole24Sans-Semibold';
}

#inquinamento .st24 {
    font-size: 18px;
}

#inquinamento .st25 {
    fill: #FFFFFF;
}

#inquinamento .st26 {
    font-family: 'Sole24SerifHeadline-Black';
}

#inquinamento .st27 {
    font-size: 21px;
}

#inquinamento .st28 {
    font-family: 'Sole24Sans-LightExtended';
}

#inquinamento .st29 {
    font-size: 10px;
}

#inquinamento .st30 {
    font-size: 9px;
}


/*--------borsa----//*/


#stock .st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

#stock .st1 {
    fill: none;
    stroke: #EA008A;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st2 {
    fill: none;
    stroke: #DEDED6;
    opacity: 0.15;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st3 {
    fill: none;
    stroke: blue;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st4 {
    fill: none;
    stroke: #37B24A;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st5 {
    fill: none;
    stroke: #EB1C24;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st6 {
    fill: none;
    stroke: #EB1C24;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st7 {
    fill: none;
    stroke: #F5911E;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st8 {
    fill: none;
    stroke: #F8EB31;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st9 {
    fill: none;
    stroke: #F8EB31;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st10 {
    fill: none;
    stroke: #F5911E;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st11 {
    fill: none;
    stroke: #1B75BA;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st12 {
    fill: none;
    stroke: #1B75BA;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#stock .st13 {
    fill: #2E3190;
}

#stock .st14 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
}

#stock .st15 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
}

#stock .st16 {
    fill: none;
    stroke: #000344;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9917, 2.9917;
}

#stock .st17 {
    fill: none;
}

#stock .st18 {
    fill: none;
    stroke: #DDDDD5;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#stock .st19 {
    fill: #726F76;
}

#stock .st20 {
    font-family: 'Sole24Sans-Book';
}

#stock .st21 {
    font-size: 13px;
}

#stock .st22 {
    font-size: 10.4207px;
}

#stock .st23 {
    fill: #DDDDD5;
}

#stock .st24 {
    font-family: 'Sole24Sans-Semibold';
}

#stock .st25 {
    font-size: 18px;
}

#stock .st26 {
    font-family: 'Sole24SerifHeadline-Black';
}

#stock .st27 {
    font-size: 21px;
}

#stock .st28 {
    font-family: 'Sole24Sans-LightExtended';
}

#stock .st29 {
    font-size: 10px;
}
